<h1>Control Room</h1>

<h2>Core Challenges</h2>
<div id="corechallenges">
  <%= render @corechallenges %>
</div>

<h2>Edge Challenges</h2>
<div id="edgechallenges">
  <%= render @edgechallenges %>
</div>

<h2>Hacklifts</h2>
<div id="hacklifts">
  <%= render @hacklifts %>
</div>

<h2>Hackdoors</h2>
<div id="hackdoors">
  <%= render @hackdoors %>
</div>

<h2>Messages</h2>
<div id="messages">
  <%= render @messages %>
</div>
